body {
    font-family: sans-serif;
    background-image: url(fondo_4.jpg);
  }

  .Canci贸n_1 {
  color: black;
  font-family: verdana;
  margin: 6px;
  border: 1px;
  padding: 15px;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
   border-radius: 7px;
   width: 270px;
}

 .Canci贸n_2 {
  color: black;
  font-family: verdana;
  margin: 6px;
  border: 1px;
  padding: 15px;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
   border-radius: 7px;
   width: 270px;
}

.Canci贸n_1, .Canci贸n_2 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    height: 80%;
}


